/**
 * Typography
 */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 14px;
}

h2 {
	font-size: 40px;
}

a {
	display: inline-block;
	text-decoration: none;
}

.pt-100 {
	padding-top: 100px;
	@media #{$md-layout} {
        padding-top: 80px;
    }
	@media #{$sm-layout} {
        padding-top: 60px;
    }
}