// All button  style
.ml-30 {
    margin-left: 30px;
    
}

.btn-default {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 15px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: var( --p-regular);
    border-radius: 5px;
    transition: var(--transition);
    &.bg-transparent {
        border: 1px solid var(--color-white);
    }
    &:hover {
        background-color: transparent;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        &.bg-transparent {
            &:hover {
                background-color:  var(--color-primary) !important;
                border: 1px solid var(--color-primary);
            }
        }
    }
}


.btn-outline {
    color: #222222;
    i {
        transition: var(--transition);
        margin-left: 5px;
    }
    &:hover {
        color: var(--color-primary);
        i {
            margin-left: 10px;
            
        }
    }
}

